.header{
    /* height: 500px; */
}
.header nav{
    /* display: inline-block; */
}

.header ul li{
    list-style: none;
    margin-top: 3%;
    /* display: inline-block; */

}

.header li{
    margin: 0 0 0 30%;
    display: inline-block;

    
}
.header a{
    color: red;
    
}
main{
    margin-left: 5%;
    padding-bottom: 3%;
    background-color: sienna;
    /* height: 500px; */
    box-sizing: border-box;
    width: 90%;
}
h1{
    margin: 10% 0 0 40%;
}
